.payment-container {
  background-color: #1F2937;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-card {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-card h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.payment-card p {
  font-size: 18px;
  margin: 10px 0;
  color: #666;
}

.check-circle {
  width: 200px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #999;
  background-color: #111827;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.social-icons {
  display: flex;
  gap: 200px;
}

.footer .custom-icon {
  font-size: 20px;
  cursor: pointer;
}

.footer p {
  margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .payment-card {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .check-circle {
    width: 150px;
    height: 150px;
  }

  .check-circle i {
    font-size: 50px;
  }

  .payment-card h2 {
    font-size: 20px;
  }

  .payment-card p {
    font-size: 16px;
  }

  .social-icons {
    gap: 50px;
  }

  .footer .custom-icon {
    font-size: 18px;
  }
}
