<div class="payment-container">
  <div class="payment-card">
    <h2>Pago exitoso</h2>
    <p>Gracias por tu compra !!</p>
    <div class="check-circle">
      <i class="pi pi-check" style="color: #2B8A78; font-size: 70px;"></i>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer">
    <div class="social-icons">
      <span class="home-icon" [routerLink]="['/papeleria/materiales']"><i class="pi pi-home custom-icon" style="color: #938F8F;"></i></span>
      <span class="instagram-icon" (click)="navigate('instagram')"><i class="pi pi-instagram custom-icon" style="color: #6B7280;"></i></span>
      <span class="twitter-icon" (click)="navigate('twitter')"><i class="pi pi-whatsapp custom-icon" style="color: #6B7280;"></i></span>
    </div>
  </footer>
</div>
