<div class="cart-container">
  <!-- Lista de productos -->
  <div class="cart-items">
    <div class="item" *ngFor="let item of cartItems">
      <!-- Imagen ovalada -->
      <div class="item-image-wrapper">
        <img [src]="item.image" alt="{{item.name}}" class="item-image">
      </div>

      <!-- Detalles -->
      <div class="item-details">
        <h3 class="item-name">{{item.name}}</h3>
        <p class="price">${{item.price}}</p>
        <span class="quantity-text">Cantidad: {{item.quantity}}</span>
        <div class="quantity-controls">
          <button pButton type="button" icon="pi pi-minus" (click)="decreaseQuantity(item)" class="p-button-rounded p-button-text quantity-btn" style="color: #000000"></button>
          <button pButton type="button" icon="pi pi-plus" (click)="increaseQuantity(item)" class="p-button-rounded p-button-text quantity-btn" style="color: #000000"></button>
        </div>
      </div>

      <!-- Botón eliminar -->
      <button pButton type="button" icon="pi pi-trash" (click)="removeItem(item)" class="p-button-rounded p-button-text remove-btn"></button>
    </div>
  </div>

  <!-- Resumen -->
  <div class="summary">
    <p class="summary-subtotal">Subtotal: $<span>{{subtotal.toFixed(2)}}</span></p>
    <p class="summary-total">Total: $<span>{{total.toFixed(2)}}</span></p>
    <button pButton label="Pagar" class="p-button pay-btn" [routerLink]="['/papeleria/card']"></button>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="social-icons">
      <span class="home-icon" [routerLink]="['/papeleria/materiales']"><i class="pi pi-home custom-icon" style="color: #938F8F;"></i></span>
      <span class="instagram-icon" (click)="navigate('instagram')"><i class="pi pi-instagram custom-icon" style="color: #6B7280;"></i></span>
      <span class="twitter-icon" (click)="navigate('twitter')"><i class="pi pi-whatsapp custom-icon" style="color: #6B7280;"></i></span>
    </div>
  </footer>
</div>
